*/__pycache__/*
__pycache__/*

model/*

model_*/*

!model/model0.pt
!model/model1.pt
!model/model2.pt
!model/model3.pt
!model/model4.pt
!model/model5.pt
!model/model6.pt
!model/model7.pt
!model/model8.pt
!model/model9.pt


debug.log